<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" shutdownHook="disable" packages="net.minecrell.terminalconsole,net.minecrell.terminalconsole.util">
    <Appenders>
        <TerminalConsole name="Console">
            <PatternLayout pattern="%highlight{[%d{HH:mm:ss}] [%t/%level]: %msg%n%xEx}{WARN=BRIGHT YELLOW,INFO=RESET,DEBUG=BRIGHT CYAN,TRACE=BRIGHT MAGENTA}"/>
        </TerminalConsole>
        <RollingRandomAccessFile name="File" fileName="logs/latest.log" filePattern="logs/%d{yyyy-MM-dd}-%i.log.gz" immediateFlush="false">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level]: %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Logger level="${sys:servermanager.logging.netty.level:-info}" name="io.netty"/>
        <Root level="ALL">
            <AppenderRef ref="Console" level="${sys:servermanager.logging.console.level:-info}"/>
            <AppenderRef ref="File" level="${sys:servermanager.logging.file.level:-debug}"/>
        </Root>
    </Loggers>
</Configuration>